@import "resets.scss";
@import "mixins.scss";
@import "layout.scss";
@import "theme.scss";

/*!////////////////////////////////////////////////
// MODULES
/////////////////////////////////////////////////*/
header[role=banner]{
	background-color: #fff;
	width: 90%;
	margin: 30px auto 0;
	
}
.header__top{
	padding: 40px 0 40px 20px;
	position: relative;
}
.header__top--contact{
	position: absolute;
	right: 0;
	top: 60px;
}
.phone{
	display: inline-block;
	@extend .font-attr;
	font-size: em(28px, $font-size);
	font-weight: bold;
	margin-right: 20px;
}
nav[role=navigation],
.main-nav{
	position: relative;
	width: 100%;
	background-color: $secondaryColor;
	font-size: 0;
	text-align: center;
	a{
		position: relative;
		z-index: 5;
		display: inline-block;
		border-bottom: 5px solid #fff;
		font-size: 20px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		padding: 20px 15px;
		@include prefix(transition, 0.1s ease-in-out);
		&:hover,
		&:focus{
			background-color: $color1;
			color: $primaryColor;
			border-bottom: 5px solid $primaryColor;
		}
	}
	a:after{
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		width: 1px;
		height: 30px;
		margin-top: -15px;
		background-color: transparentize(#fff, 0.75);
	}
	a:last-child:after{
		content: "";
		display: none;
	}
	.selected{
		background-color: $color1;
		border-bottom: 5px solid $primaryColor;
		color: $primaryColor;
	}
}
.main-nav{
	a{
		border-bottom: 5px solid $secondaryColor;
	}
}
nav[role=navigation]:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: #fff;
}
.content{
	background-color: #fff;
	width: 90%;
	margin: 0 auto 30px;
	padding: 30px;
	header{
		h2{
			line-height: 1.2em;
		}
		i{
			@extend .font-attr;
			font-size: em(22px, $font-size);
		}
	}
}
.branding{
	float: left;
}
.hero{
	padding: 0;
	position: relative;
	img{
		width: 100%;
	}
	li{
		list-style: none;
	}
}
.tagline{
	width: 100%;
	position: absolute;
	top: 0;
	margin-top: 10%;
	text-align: center;
	i,b{
		display: block;
		@extend .font-attr;
		line-height: 1;
		color: #fff;
		@include prefix(text-shadow, 2px 0 25px rgba(0,0,0,1));
	}
	i{
		font-size: em(50px, $font-size);
		font-style: normal;
	}
	b{
		font-size: em(115px, $font-size);
		font-style: italic;
	}
}
.our-services{
	background-color: $primaryColor;
	padding: 30px;
	position: absolute;
	left: 0;
	bottom: 0;
	li{
		position: relative;
		a{
			display: block;
			font-size: em(32px, $font-size);
			font-weight: bold;
			line-height: 1.1em;
			color: #fff;
			text-decoration: none;
			margin: 50px 0;
			&:hover,
			&:focus{
				color: $secondaryColor;
			}
		}
		a:first-child{
			margin: 10px 0 50px !important;
		}
		a:last-child{
			margin: 50px 0 0; 
		}
	}
	li:after{
		content: "";
		position: absolute;
		bottom: -28px;
		width: 100%;
		height: 8px;
		background-color: #1a87c8;
	}
	li:last-child:after{
		content: "";
		display: none;
	}
}
.intro{
	padding: 50px;
	b{
		background-color: $primaryColor;
		font-size: em(22px, $font-size);
		color: #fff;
		padding: 8px 10px;
	}
	p{
		font-size: em(20px, $font-size);
	}
	p:first-of-type{
		font-size: em(26px, $font-size);
	}
}


.featured{
	position: relative;
	padding: 30px 0;
	header{
		padding: 0 30px 30px;
	}
}
.featured__project{
	position: relative;
	figure{
		img{
			width: 100%;
		}
	} 
	figcaption{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: transparentize($secondaryColor,0.05);
		padding: 20px;
		border-bottom: 10px solid $color1;
		@include prefix(transition, 0.2s ease-in-out);
		h3{
			font-size: em(22px, $font-size);
			color: #fff;
		}
	}
}
.featured__project:hover,
.featured__project:focus{
	figcaption{
		padding: 30px 20px;
	}
}


.certifications{
	position: relative;
	padding: 0;
	img{
		width: 100%;
	}
}
.certifications__leed,
.certifications__eif{
	position: absolute;
	font-family: $mainFont;
	font-size: em(55px, $font-size);
	color: #fff;
	padding: 15px 30px;
	span{
		font-style: italic;
	}
}
.certifications__leed{
	background-color: $color3;
	bottom: 137px;
}
.certifications__eif{
	background-color: $primaryColor;
	bottom: 20px;
}
.memberships__awards{
	text-align: center;
	img{
		margin: 0;
	}
}
.footer{
	padding: 0 0 30px 0;
	background-color: $secondaryColor;
	margin: 0 auto 0 !important;
}
.copyright{
	@extend .font-attr;
	font-size: em(18px, $font-size);
	font-style: italic;
	color: #fff;
	text-align: center;
	margin: 20px 0 0;
}





/*!////////////////////////////////////////////////
// STATES
/////////////////////////////////////////////////*/



@import "shame.scss";
@import "helpers.scss";